In [ ]:
from google.colab import drive
drive.mount('/content/drive')

categorical vars which categories can be meaningfully ordred are called ordinal:

for example: 
Stuent's grade in exam (A, B, C or Fail)
Days of the week can be ordinal with Monday=1 and Sunday=7

when the categorical variable is ordinal, the most straightforward approach is to replace the labels by some ordinal number

In [ ]:
import pandas as pd
import datetime

In [ ]:
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(0, 30) ]
df = pd.DataFrame(date_list)
df.columns = ['day']
df

                          day
0  2021-05-02 18:55:09.158800
1  2021-05-01 18:55:09.158800
2  2021-04-30 18:55:09.158800
3  2021-04-29 18:55:09.158800
4  2021-04-28 18:55:09.158800
5  2021-04-27 18:55:09.158800
6  2021-04-26 18:55:09.158800
7  2021-04-25 18:55:09.158800
8  2021-04-24 18:55:09.158800
9  2021-04-23 18:55:09.158800
10 2021-04-22 18:55:09.158800
11 2021-04-21 18:55:09.158800
12 2021-04-20 18:55:09.158800
13 2021-04-19 18:55:09.158800
14 2021-04-18 18:55:09.158800
15 2021-04-17 18:55:09.158800
16 2021-04-16 18:55:09.158800
17 2021-04-15 18:55:09.158800
18 2021-04-14 18:55:09.158800
19 2021-04-13 18:55:09.158800
20 2021-04-12 18:55:09.158800
21 2021-04-11 18:55:09.158800
22 2021-04-10 18:55:09.158800
23 2021-04-09 18:55:09.158800
24 2021-04-08 18:55:09.158800
25 2021-04-07 18:55:09.158800
26 2021-04-06 18:55:09.158800
27 2021-04-05 18:55:09.158800
28 2021-04-04 18:55:09.158800
29 2021-04-03 18:55:09.158800

In [ ]:
df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2021-05-02 18:55:09.158800      Sunday
1 2021-05-01 18:55:09.158800    Saturday
2 2021-04-30 18:55:09.158800      Friday
3 2021-04-29 18:55:09.158800    Thursday
4 2021-04-28 18:55:09.158800   Wednesday

In [ ]:
# enginner categorical variable by ordinal number replacement 

weekday_map = {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7,
}

In [ ]:
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head()

                         day day_of_week  day_ordinal
0 2021-05-02 18:55:09.158800      Sunday            7
1 2021-05-01 18:55:09.158800    Saturday            6
2 2021-04-30 18:55:09.158800      Friday            5
3 2021-04-29 18:55:09.158800    Thursday            4
4 2021-04-28 18:55:09.158800   Wednesday            3